
#about {
    border-style: solid;
    border-color: #0d5555;
}

#about h2 {
    text-align: left;
    margin-top: 5%;
    font-size: 200%;
    background-color: #FFFFFF;
    color:#0d5555; 
    text-decoration: underline;
    padding-left: 2%;
}

#divabout {
    padding: 2%;
}

#para2 {
    color:#0d5555;
    font-size: 140%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

#para1 {
    color:#0d5555;
    font-size: 140%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    text-indent: 5%;
}

li {
    color:#0d5555;
    font-size: 140%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style-type:disc;
    line-height: 150%;
}