#gallery {
    border-style: solid;
    border-color: #0d5555;
}

#gallery h2 {
    text-align: center;
    margin-top: 5%;
    font-size: 200%;
    background-color: #0d5555;
    color:#FFFFFF;  
}

.galleryfigure {
    display: inline-block;
    border-style:solid;
    border-color: #0d5555;
    width: 30%;
}

.galleryfigimg {
    width: 100%;
    height: 40vh;
}

.galleryfigcaption {
    background-color: #FFFFFF;
    font-size: 125%;
    color:#0d5555;
    font-weight: bold;
    padding: 2% 0%;
}


#divgallery {
    text-align: center;
}

@media screen and (max-width:950px) {
    .galleryfigure {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-style:solid;
        border-color: #0d5555;
        width: 50%;
    }
}